body {
    font-family: 'Rubik', system-ui, -apple-system, sans-serif;
    font-weight: 300;
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;

}

section p {
    line-height: 20px;
}

.author {
    margin-top: 5px;
    margin-bottom: 5px;
}

.figure {
    width: 50%;
    float:right;
    border: 2px solid;
}

blockquote {
    margin-left: 20px;
    margin-right: 20px;
}
blockquote>p {
    background-color: #00000011;
    border-left: 2px solid;
    padding: 5px;
}

pre {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #00000011;
    border-left: 2px solid;
    padding: 5px;
}

ul {
    padding-left: 20px;
}

li {
    margin-top: 35px;
}

li>p {
    margin-top: 5px;
    margin-bottom: 5px;
}